<div class="button-row">
  <a mat-raised-button color="primary" [routerLink]="['/persons']"><mat-icon>list</mat-icon></a>
</div>
<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title><h2>{{person.name}}</h2></mat-card-title>
    <mat-card-subtitle>{{person.description}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <dl>
      <dt>Name:</dt>
      <dd>{{person.Name}}</dd>
      <dt>Date of birth:</dt>
      <dd>{{person.Date_of_birth}}</dd>
      <dt>DocumentID:</dt>
      <dd>{{person.Document_ID}}</dd>
      <dt>Address:</dt>
      <dd>{{person.Address}}</dd>
      <dt>Sex:</dt>
      <dd>{{person.Sex}}</dd>
    </dl>
  </mat-card-content>
  <mat-card-actions>
    <a mat-raised-button color="primary" [routerLink]="['/person-edit', person._id]"><mat-icon>edit</mat-icon></a>
    <a mat-raised-button color="warn" (click)="deletePerson(person._id)"><mat-icon>delete</mat-icon></a>
  </mat-card-actions>
</mat-card>