<div class="button-row">
  <a mat-raised-button color="primary" [routerLink]="['/persons']"><mat-icon>list</mat-icon></a>
</div>
<form [formGroup]="personForm" (ngSubmit)="onFormSubmit(personForm.value)">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Name" formControlName="Name"
           [errorStateMatcher]="matcher">
    <mat-error>
      <span *ngIf="!personForm.get('Name').valid && personForm.get('Name').touched">Please enter  person's name</span>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Date of birth" formControlName=Date_of_birth"
           [errorStateMatcher]="matcher">
    <mat-error>
      <span *ngIf="!personForm.get('Date_of_birth').valid && personForm.get('Date_of_birth').touched">Please enter person's date of birth</span>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Document ID" formControlName="Document_ID"
           [errorStateMatcher]="matcher">
    <mat-error>
      <span *ngIf="!personForm.get('Document_ID').valid && personForm.get('Document_ID').touched">Please enter person's document ID</span>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <textarea matInput placeholder="Sex" formControlName="Sex"
           [errorStateMatcher]="matcher"></textarea>
    <mat-error>
      <span *ngIf="!personForm.get('Sex').valid && personForm.get('Sex').touched">Please enter person's sex</span>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Address" formControlName="Address"
           [errorStateMatcher]="matcher">
    <mat-error>
      <span *ngIf="!personForm.get('Address').valid && personForm.get('Address').touched">Please enter person's address</span>
    </mat-error>
  </mat-form-field>
  <div class="button-row">
    <button type="submit" [disabled]="!personForm.valid" mat-raised-button color="primary"><mat-icon>save</mat-icon></button>
  </div>
</form>